.DS_Store
rl.egg-info/
__pycache__/
*.pyc


rl/agents
rl/saved_agents
rl/gifs
rl/video
rl/wandb
rl/jpgs/
rl/lightning_logs
rl/MUJOCO_LOG.TXT

#rl/algorithms/mfrl/ovoq.py
#rl/algorithms/mbrl/movoq.py
rl/algorithms/mbrl/movoq_.py
